In [ ]:
1. Modularity
2. Readability
3. redundancy

10 lines of code

50 time => 50*10=>500

In [1]:
def add_nums(x,y):
    res=x+y
    return res

In [2]:
add_nums(10,20)

30

In [5]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [24]:
def add_nums(x,y=0):    # Default variable
    res=x+y
    return res

In [7]:
add_nums(5,6)

11

In [8]:
add_nums(5)

5

In [13]:
def add_nums(x=0,y=5):    # Default variable
    res=x+y
    return res

In [14]:
add_nums(10,20)

30

In [15]:
add_nums(10)

15

In [16]:
add_nums()

5

In [17]:
add_nums(10,20,30,40,50)

TypeError: add_nums() takes from 0 to 2 positional arguments but 5 were given

In [21]:
def add_nums(x,y,*z):
    print("type of x :{} and value is : {}".format(type(x),x))
    print("type of y :{} and value is : {}".format(type(y),y))
    print("type of z :{} and value is : {}".format(type(z),z))

In [22]:
add_nums(10,20,30,40,50)

type of x :<class 'int'> and value is : 10
type of y :<class 'int'> and value is : 20
type of z :<class 'tuple'> and value is : (30, 40, 50)

In [25]:
def add_nums(x,y,*z):
    res=x+y+sum(z)
    return res

In [26]:
add_nums(10,20,30,40,50)

150

In [27]:
add_nums(10,20,30)

60

In [28]:
add_nums(10,20)

30

In [29]:
def add_nums(x,y=0,*z):
    res=x+y+sum(z)
    return res

In [30]:
add_nums(10)

10

In [31]:
add_nums(10,20)

30

In [32]:
add_nums(10,20,30)

60

In [33]:
add_nums(10,20,30,40)

100

In [42]:
def add_nums(x,y):
    '''add_nums function takes 2 numbers as an input and perform sum of them'''
    res=x+y
    return res

In [43]:
add_nums.__doc__

'add_nums function takes 2 numbers as an input and perform sum of them'

In [44]:
add_nums(100,200)

300

In [46]:
def myfunc(x,y=0,*z,**k):    # *args , **kwargs
    print("x:{} , y:{}, z:{} , k:{}".format(x,y,z,k))

In [47]:
myfunc(10,20,30,40,50,name='Raghul Ramesh', city='Chennai', tech='Python')

x:10 , y:20, z:(30, 40, 50) , k:{'name': 'Raghul Ramesh', 'city': 'Chennai', 'tech': 'Python'}

In [57]:
def course_info(**x):
    print(x)
    for k in x.keys():
        print(k + " ===> "+ str(x[k]))

In [58]:
course_info(mode='online', tech='AI', duration=90 , current_topic='Python')

{'mode': 'online', 'tech': 'AI', 'duration': 90, 'current_topic': 'Python'}
mode ===> online
tech ===> AI
duration ===> 90
current_topic ===> Python

In [ ]:
# Why do we need to go for a function
# How to create a function
# different parameters used in funcitons: mandatory, optional, *args, **kwargs
# function may or may not have a return statement
# documentory string

In [ ]:
# SCOPE OF THE VARIABLE IN FUNCTION ( local, global)