In [5]:
str="I am part of data analytics batch at excelR"
str.replace('analytics','engg visualization ML DL')

'I am part of data engg visualization ML DL batch at excelR'

In [4]:
#str.translate('abc','ABC')
change=str.maketrans('abc','ABC')
str.translate(change)

'I Am pArt of dAtA AnAlytiCs BAtCh At exCelR'

In [10]:
str="I-am_part,of.data~analytics_batch-at~excelR"
changes=str.maketrans('.,~!@#$%^&*()_+-','                ' )
str.translate(changes)

'I am part of data analytics batch at excelR'

# TUPLE

In [11]:
x=[]

In [12]:
type(x)

list

In [13]:
x=()

In [14]:
type(x)

tuple

In [15]:
y=tuple()

In [16]:
type(y)

tuple

In [17]:
data=('Wednesday','AIML',100,'ExcelR')

In [19]:
type(data)

tuple

In [20]:
len(data)

4

In [21]:
nums=(32,5,8,3,79,55,45)

In [22]:
min(nums)

3

In [23]:
max(nums)

79

In [24]:
sum(nums)

227

In [ ]:
# append, extend , insert, pop, remove, sort, reverse, copy, clear, index, count

In [ ]:
# index, count

In [25]:
print(dir(nums))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [62]:
mytuple=('Python','R','SAS','Hadoop','Spark','Java','Python','Java','AIML')

In [65]:
mytuple[-1]

'AIML'

In [27]:
mytuple.count('Python')

2

In [29]:
mytuple.index('SAS')

2

In [ ]:
List is Mutable                         Tuple is immutable
[]                                      ()
List take more memory                   Tuple takes less memory
List takes more time to process         Tuple takes less time to process

In [38]:
import sys

print("LIST SIZE:",sys.getsizeof([1,2,3,4,5,6,7,8,9,10]))
print("TUPLE SIZE:",sys.getsizeof((1,2,3,4,5,6,7,8,9,10)))

LIST SIZE: 136
TUPLE SIZE: 120

In [37]:
import timeit

print("List takes:",timeit.timeit(stmt="[1,2,3,4,5,6,7,8,9,10]",number=1000000)*1000)
print("Tuple takes:",timeit.timeit(stmt="(1,2,3,4,5,6,7,8,9,10)",number=1000000)*1000)

List takes: 80.64409999997224
Tuple takes: 7.604899999932968

In [ ]:
HPC => High Performance Computers

In [39]:
x=[1,2,3,4,5,6,7,8,9,10]

In [40]:
type(x)

list

In [41]:
y=tuple(x)

In [42]:
type(y)

tuple

In [43]:
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [48]:
x=(10)
y=[10]

In [49]:
type(y)

list

In [50]:
type(x)

int

In [51]:
city=('Chennai')

In [52]:
type(city)

str

In [53]:
data=(10,20)

In [54]:
type(data)

tuple

In [55]:
location=('Chennai','banagalore')

In [56]:
type(location)

tuple

In [57]:
x=(10,)

In [58]:
type(x)

tuple

In [60]:
c=('Chennai',)

In [61]:
type(c)

tuple

# DICTIONARY

In [ ]:
key value pairs of element
it is unordered array
dictionary|hash|hash map|associative array

In [66]:
mydata={}

In [67]:
type(mydata)

dict

In [68]:
mydata={'today':'Wednesday','age':37,'tech':'python','company':'excelR'}

In [73]:
mydata['age']

37

In [70]:
mydata['today']

'Wednesday'

In [71]:
mydata['tech']

'python'

In [74]:
mydata['name']

KeyError: 'name'

In [75]:
# get and setdefault

mydata.get('age')

37

In [76]:
mydata.get('company')

'excelR'

In [78]:
print(mydata.get('name'))

None

In [81]:
mydata.get('name','Balamurugan')

'Balamurugan'

In [82]:
mydata

{'today': 'Wednesday', 'age': 37, 'tech': 'python', 'company': 'excelR'}

In [83]:
mydata.setdefault('age','Balamurugan')

37

In [84]:
mydata

{'today': 'Wednesday', 'age': 37, 'tech': 'python', 'company': 'excelR'}

In [85]:
mydata.setdefault('name','Balamurugan')

'Balamurugan'

In [87]:
print(mydata)

{'today': 'Wednesday', 'age': 37, 'tech': 'python', 'company': 'excelR', 'name': 'Balamurugan'}

In [88]:
mydata['location']='Chennai'

In [89]:
print(mydata)

{'today': 'Wednesday', 'age': 37, 'tech': 'python', 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Chennai'}

In [90]:
mydata['country']='India'

In [91]:
print(mydata)

{'today': 'Wednesday', 'age': 37, 'tech': 'python', 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Chennai', 'country': 'India'}

In [92]:
mydata['today']='Thursday'

In [93]:
print(mydata)

{'today': 'Thursday', 'age': 37, 'tech': 'python', 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Chennai', 'country': 'India'}

In [94]:
mydata.update({'salary':5000,'exp':10,'manager':'Nataraj','location':'Bangalore','tech':['Excel','Python','R','AI','Stats']})

In [95]:
print(mydata)

{'today': 'Thursday', 'age': 37, 'tech': ['Excel', 'Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India', 'salary': 5000, 'exp': 10, 'manager': 'Nataraj'}

In [96]:
del mydata['today']

In [97]:
print(mydata)

{'age': 37, 'tech': ['Excel', 'Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India', 'salary': 5000, 'exp': 10, 'manager': 'Nataraj'}

In [98]:
mydata.pop('exp')

10

In [99]:
print(mydata)

{'age': 37, 'tech': ['Excel', 'Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India', 'salary': 5000, 'manager': 'Nataraj'}

In [100]:
mydata.popitem()

('manager', 'Nataraj')

In [101]:
print(mydata)

{'age': 37, 'tech': ['Excel', 'Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India', 'salary': 5000}

In [102]:
mydata.pop('salary')

5000

In [103]:
print(mydata)

{'age': 37, 'tech': ['Excel', 'Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India'}

In [105]:
mydata['tech'].pop(0)

'Excel'

In [106]:
print(mydata)

{'age': 37, 'tech': ['Python', 'R', 'AI', 'Stats'], 'company': 'excelR', 'name': 'Balamurugan', 'location': 'Bangalore', 'country': 'India'}

In [ ]:
#keys, values, items

In [107]:
mydata

{'age': 37,
 'tech': ['Python', 'R', 'AI', 'Stats'],
 'company': 'excelR',
 'name': 'Balamurugan',
 'location': 'Bangalore',
 'country': 'India'}

In [108]:
mydata.keys()

dict_keys(['age', 'tech', 'company', 'name', 'location', 'country'])

In [109]:
mydata.values()

dict_values([37, ['Python', 'R', 'AI', 'Stats'], 'excelR', 'Balamurugan', 'Bangalore', 'India'])

In [110]:
mydata.items()

dict_items([('age', 37), ('tech', ['Python', 'R', 'AI', 'Stats']), ('company', 'excelR'), ('name', 'Balamurugan'), ('location', 'Bangalore'), ('country', 'India')])

In [122]:
mydata.pop('tech')

['Python', 'R', 'AI', 'Stats']

In [126]:
for k in mydata.keys():
    print(k +" ===> "+ str(mydata[k]))

company ===> excelR
name ===> Balamurugan
location ===> Bangalore
country ===> India

In [127]:
mydata['age']=37

In [132]:
for k in mydata.keys():
    print(mydata[k] )

excelR
Balamurugan
Bangalore
India
37

In [134]:
for v in mydata.values():
    print(mydata[v])

excelR
Balamurugan
Bangalore
India
37

In [135]:
mydata.items()

dict_items([('company', 'excelR'), ('name', 'Balamurugan'), ('location', 'Bangalore'), ('country', 'India'), ('age', 37)])

In [138]:
for x , y in mydata.items():
    print(x, y)

company excelR
name Balamurugan
location Bangalore
country India
age 37

In [139]:
print(dir(mydata))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [168]:
empdata={'fname','lname','age','degree','exp','gender','address'}

In [169]:
emp_info=dict.fromkeys(empdata,'ExcelR')

In [170]:
emp_info

{'degree': 'ExcelR',
 'exp': 'ExcelR',
 'lname': 'ExcelR',
 'age': 'ExcelR',
 'address': 'ExcelR',
 'gender': 'ExcelR',
 'fname': 'ExcelR'}

In [145]:
sample_dict={
    'name':'Raghul Ramesh',
    'age':37,
    'exp':{
        'infosys':['Python','Perl','Java'],
        'Paypal':['Python','AIML','AWS'],
        'walmart':['AIML',['AWS','GCP']],
        'Shell':['BigData','Snowflakes'],
        'Amazon':['Bigdata','AWS']
    }
}

In [150]:
sample_dict.get('exp').get('walmart')[1][-1]

'GCP'

In [153]:
myset=set()

In [154]:
type(myset)

set

In [155]:
myset={1,3,4,2,3,4,3,2,5,6,5,4,9,10,6,8,7,4,2,5,3,1,3,1,1,1}

In [156]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [157]:
myset.add(11)

In [158]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [159]:
myset.add(15)

In [160]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15}

In [161]:
myset.add(13)

In [162]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15}

In [163]:
myset.add(10)

In [164]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15}

In [173]:
print(dir(myset))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [175]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15}

In [179]:
list(myset)[-1]

15

In [183]:
while True:
    data=input("Enter a value and exit for come out:")
    if data.casefold()=='exit':
        break
    print("Value:", data)

Enter a value and exit for come out:EXIT