# print functions

In [1]:
print("Hello")

Hello

In [2]:
name='Raghul Ramesh'

In [3]:
print('name')

name

In [4]:
print(name)

Raghul Ramesh

In [5]:
print('Trainer name is : name')

Trainer name is : name

In [6]:
print('Trainer name is : ',name)

Trainer name is :  Raghul Ramesh

In [7]:
name='Raghul Ramesh'
age=37
city='Chennai'

#Trainer name is Raghul Ramesh and he is 37 years old

print("Trainer name is ", name , "and he is ", age , "years old")

Trainer name is  Raghul Ramesh and he is  37 years old

In [8]:
print("Trainer name is {} and he is {} years old and he is from {}".format(name,age,city))

Trainer name is Raghul Ramesh and he is 37 years old and he is from Chennai

In [9]:
print(f"Trainer name is {name} and he is {age} years old and he is from {city}")

Trainer name is Raghul Ramesh and he is 37 years old and he is from Chennai

In [10]:
print("Trainer name is {2} and he is {0} years old and he is from {1}".format(age,city,name))

Trainer name is Raghul Ramesh and he is 37 years old and he is from Chennai

In [11]:
price=565.6587432
print("The product's price is : {0:.3f}".format(price))

The product's price is : 565.659

In [12]:
round(price,3)

565.659

In [13]:
print("The product's price is : {}".format(round(price,2)))

The product's price is : 565.66

# input function

In [14]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
age=age+1
print("The type of name is :", type(name))
print("The type of age is :", type(age))
print("Age is:",age)

Enter your name:Raghul Ramesh
Enter your age:37
The type of name is : <class 'str'>
The type of age is : <class 'int'>
Age is: 38

In [15]:
acct=input("Enter your account number:")
name=input("Enter your name:")
pin=int(input("Enter 4 digit pin:"))

print("{},{},{}".format(acct,name,pin))
print("Type of acct:{}, name:{} and pin:{}".format(type(acct),type(name),type(pin)))

Enter your account number:43728734432
Enter your name:Raghul Ramesh
Enter 4 digit pin:44542
43728734432,Raghul Ramesh,44542
Type of acct:<class 'str'>, name:<class 'str'> and pin:<class 'int'>

# range function

In [16]:
for x in range(1,101):
    print(x,end =' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [17]:
for x in range(1,101,2):
    print(x,end =' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [18]:
for x in range(2,101,2):
    print(x,end =' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# LOOPS

In [19]:
'''
while 
for 
'''

'\nwhile \nfor \n'

In [21]:
# while <cond>:
#     statements

x=1

while x<=10:
    print(x)
    x=x+1
else:
    print("The value of the x is :",x)

1
2
3
4
5
6
7
8
9
10
The value of the x is : 11

In [22]:
info=['ExcelR','Data Analytics','Python',2022,100]

In [23]:
for x in info:
    print(x)

ExcelR
Data Analytics
Python
2022
100

In [39]:
i=1
for x in range(1,101):
    if i<=10:
        print(x, end=' ')
        i=i+1   
    else:
        print('\n',x, end=' ')
        i=1

1 2 3 4 5 6 7 8 9 10
 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26 27 28 29 30 31 32
 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49 50 51 52 53 54
 55 56 57 58 59 60 61 62 63 64 65
 66 67 68 69 70 71 72 73 74 75 76
 77 78 79 80 81 82 83 84 85 86 87
 88 89 90 91 92 93 94 95 96 97 98
 99 100

# Flow control statements

In [ ]:
'''
break
continue
'''

In [41]:
x=1

while x<=10:
    if x==5:
        break
    print(x)
    x=x+1
    
print("This is the next line to the loop")
print("Thanks")

1
2
3
4
This is the next line to the loop
Thanks

In [42]:
x=0

while x<=10:
    x=x+1
    if x==5:
        continue
    print(x)
    
    
print("This is the next line to the loop")
print("Thanks")

1
2
3
4
6
7
8
9
10
11
This is the next line to the loop
Thanks

# DATA STRUCTURE

In [ ]:
'''
Immutable
    - Numbers
    - String
    - Tuple
Mutable
    - List
    - Dictionary
    - Set
'''

In [43]:
'''
Arithmetic Opearators
Assignment
Comparison
Bitwise
Binary
Identity 
Membership
'''

SyntaxError: cannot assign to literal (2169748992.py, line 1)

In [44]:
# + (Addtion), -(subraction), * (multiplication), / (division), ** ( Exponent), % (modulus) , // (Floor Division)

5+6

11

In [45]:
5-6

-1

In [46]:
5*6

30

In [47]:
5/6

0.8333333333333334

In [48]:
2**3

8

In [49]:
11%2   # Return the reminder

1

In [50]:
11//2

5

In [52]:
# Assignment

x=10

In [53]:
x

10

In [54]:
y=x

In [55]:
y

10

In [56]:
z=x*2

In [57]:
z

20

In [61]:
res=x+y+z

In [62]:
res

40

In [63]:
#Comparison

x

10

In [64]:
x==10

True

In [65]:
x>0

True

In [66]:
x>100

False

In [67]:
x==0

False

In [68]:
x != 0

True